<div class="card m-4">
    <div class="card-header">
      <%= tweet.user.full_name  %> 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= tweet.body %></p>
        <footer class="blockquote-footer">upload at <cite title="Source Title"><%= tweet.created_at %></cite></footer>
      </blockquote>
    </div>
</div>