<div class="container w-50">
    <h1>New Tweet</h1>
    
    <%= form_with model: @tweet do |f| %>
        <%= f.text_field :body, class: "form-control" %>
        <%= f.submit "save", class: "btn btn-primary mt-4" %>
    <% end %>
</div>