<div class="container w-50">
    <h1>Tweet</h1>
    <%= button_to "Delete", @tweet, method: :delete, class: "btn btn-sm btn-danger" %>
    <%= render partial: 'tweet', locals: { tweet: @tweet } %>

</div>